@model Nautilus.Core.Domain.JobSteps

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobSteps</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceConnection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceConnection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetConnection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetConnection)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
