@model IEnumerable<Nautilus.Core.Domain.JobSteps>

@{
    ViewData["Title"] = "Job Steps";
}

<h1>Job Steps</h1>

<p>
    <a asp-action="Create">Create New Step</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceConnection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetConnection)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceConnection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetConnection)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
